.bookingFormContainer {
    width: 100%;
    margin: 20px auto;
    border: 2px dotted var(--abdomen);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.bookingFormContainer > input {
    padding: 10px 5px;
    box-sizing: border-box;
    width: 98%;
    background-color: #08303a;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}*/

@media (hover:hover) {
    .bookingFormContainer > input:hover {
        background-color: var(--ab-second);
    }
}