.recommendationContainer {
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: left;
    transition: 1s;
}

.recommendationText {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: left;
    transition: 1s;
}

.bookingButtons {
    display: flex;
    flex-direction: column;
}

.bookingButtons > button {
    margin: 20px 0 0 0;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #08303a;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media (hover:hover) {
    .bookingButtons > button:hover {
        background-color: #75c4ba;
    }
    .buttonPageLink > button:hover {
        background-color: #75c4ba;
    }
}

.buttonPageLink {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.buttonPageLink > button {
    margin: 20px 0 0 0;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #08303a;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}