.App {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

hr {
  width: 50%;
}

.torso-flex-container {
  width: 50%;
  min-height: 60vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.set-stage-button {
  width: 40%;
  background-color: #08303a;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  align-self: flex-end;
  height: 40px;
}

@media (hover:hover) {
  .set-stage-button:hover {
    background-color: #75c4ba;
  }
}

.question-container {
  width: 100%;
  margin: 0 auto 20px auto;
}

.BMIBox {
  width: 50%;
  margin: auto;
  padding: 10px 0;
  border: 2px solid #08303a;
  box-sizing: border-box;
}

@media only screen and (max-width: 1025px) {
  hr {
    width: 60%;
  }
  .torso-flex-container {
      width: 60%;
      min-height: 50vh
  }
}

@media only screen and (max-width: 768px) {
  hr {
    width: 96%;
  }
  .torso-flex-container {
      width: 96%;
      min-height: 54vh;
  }
}

/*text input  */
.tiLabel {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.tiLabel > input[type=text]:focus {
  background-color: #fcfcfc;
}

.tiInput {
  width: 98%;
  margin: 10px 0 20px 0;
  border: 2px solid #08303a;
  border-radius: 0;
  padding: 10px 5px;
  box-sizing: border-box;

}

.tiDescription {
  font-size: 12px;
  width: 100%;
  float: left;
  margin: 10px 0 0 0; 
  padding: 0;
}

.fade-in {
  animation: fadeIn ease .8s;
  -webkit-animation: fadeIn ease .8s;
  -moz-animation: fadeIn ease .8s;
  -o-animation: fadeIn ease .8s;
  -ms-animation: fadeIn ease .8s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}